<h3>Pour récapituler :</h3>
	<br />
	1- Installation des gems : 
		<ul>
			<li>'meta_request' </li>
			<li>'better_errors'</li>
			<li>'binding_of_caller'</li>
		<ul>
	2- Installation de l'extension chrome pour rails_panel <br />
	3- Enjoy !
<br /><br />
<h1>Merci de votre attention !</h1>

<br />
<h2>Questions?</h2>
